.container {
    display: flex;
    height: 48px;
    flex-grow: 0;
    align-items: center;
    justify-content: center;
    gap: 2px;
    padding: 3px;
    color: red;
    

}

.title{
    color: blue;
}

//"flex h-[48px] grow items-center justify-center gap-2 rounded-md bg-gray-50 p-3 text-sm font-medium hover:bg-sky-100 hover:text-blue-600 md:flex-none md:justify-start md:p-2 md:px-3"